body {
  margin: 0;
  display: initial;
}

.container {
  width: 100%;
  height: 100%;
}

.fullscreen {
  width: 100%;
  height: 100%;
}

.back-router {
  position: absolute;
  width: 100%;
  top: 0;
  display: flex;
  justify-content: space-between;
}

.product-router {
  position: absolute;
  width: 100%;
  top: 50%;
  display: flex;
  justify-content: space-between;
}

.back-router .product-router .button .buttonChangeItem {
  padding: 10px;
  border-radius: 4px;
  margin: 20px;
  border: 2px solid #ffffff;
  cursor: grab;
  user-select: none;
}

.info_display {
  position: absolute;
  width: 100%;
  top: 30%;
  display: flex;
  justify-content: space-between;
  visibility: hidden;
}

.info_display .item_title {
  font-size: 2rem;
  text-align: center;
}

.button > p {
  min-width: 35px;
  margin: 10px;
  font-size: 2rem;
  text-align: center;
  color: #ffffff;
}

.buttonChangeItem > p {
  min-width: 35px;
  margin: 30px;
  font-size: 1rem;
  text-align: center;
  color: #ffffff;
  text-decoration: underline;
}
